img {
  height: 400px;
  width: 400px;
  border: solid 5px;
  padding: 10px;
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}
body {
  background-color: lightgray;
  margin: 50px;
}

h1, h2 {
  text-align: center;
  background-color:#bdf5fc;
  margin-left: 60px;
  margin-right: 60px;
}